apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mydemoapp-deploy
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/ruthvik2424/demorepo.git
    targetRevision: HEAD
    path: dev
  destination:
    server: https://kubernetes.default.svc
    namespace: mydemoapp

  syncPolicy:
    syncOptions:
    - CreateNamespace=true

    automated:
      selfHeal: true
      prune: true